

<section id = "secTodoApp">

	<div class="container">

		<!-- Page header -->
		<div class="jumbotron text-center">
			<h1>CRUD Application <span class="label label-info">{{todos.length}}</span></h1>
			<p>Create Read Update Delete</p>
		</div>

		<!-- List of Todo's -->
		<div id="todo-list" class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<!-- Loop through todos in $scope.todos -->
                <ul id="sortable" class="list-unstyled ui-sortable todo-list">
                    <li class="ui-state-default" ng-repeat="todo in todos track by $index">
                        <div class="checkbox">
                            <label ng-class="{'doneClass': todo.done, 'notDoneClass': !todo.done }">
                                <input type="checkbox" ng-model="todo.done">
                                {{todo.text}}
                            </label>
                            <div class="pull-right">
                                <button class="btn btn-primary btn-xs" ng-click="editTodo(todo.id, todo.text, todo.done)">Update</button>
                                <button class="btn btn-warning btn-xs" ng-click="deleteTodo(todo.id)"">Delete</button>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
        <div uib-alert  ng-class="'alert-warning'" ng-if="true==false" close="closeAlert($index)">ALERTA!</div>
		<!-- Form to create Todo -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form name="fmCreateTodo" novalidate>
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Enter Stuff.." 
						ng-model="formData.text" ng-required="true">
					</div>

					<!-- Form will be invalid unless the input box has content only then will the Button become active-->
					<button type="submit" class="btn btn-primary btn-lg" ng-disabled="fmCreateTodo.$invalid" 
							ng-click="createTodo()">Create</button>
				</form> <!-- @END/ form -->

			</div> <!-- @END/ .col -->
		</div> <!-- @END/ #todo-form -->

	</div> <!-- @END/ .container -->

</section> <!-- @END/ section -->