
html { 
	overflow-y:scroll; 
}

body {
	padding-top:50px; 
}

#todo-list { 
	margin-bottom:30px; 
}

#todo-form { 
	margin-bottom:50px; 
}

input {
	border: none;
}


.doneClass {
	text-decoration: line-through;
	color: red;
}

.notDoneClass {
	color: green;
}

.todo-list > li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
    border-bottom: 1px dashed #DEDEDE;
}

.todo-list > li:hover {
    background: #EDEDED;
}